@import '../config';
@import 'message-config';

.post-message {
  padding: $space-factor;
  margin-bottom: $space-factor;
  background-color: $post-message-bg-color;

  h1, h2, h3, h4, h5, h6, p {
    margin: 0 0 $space-factor / 2;
    text-indent: 0;
  }
}