@import '../config';
@import 'posts-config';

.post-social {
  padding: $comment-padding;
  // override global section margin-bottom
  margin-bottom: 0;

  background-color: $comment-bg-color;

  img {
    margin-right: $space-factor / 4;
  }

  textarea {
    // Ugh... Set padding so comment textarea is as large as image to the left in initial state
    $padding: .45rem;

    resize: none;
    flex-grow: 1;
    align-self: stretch;
    padding-top: $padding;
    padding-bottom: $padding;
  }

  button {
    font-size: .75rem;
    padding: $space-factor / 2 $space-factor;
    align-self: stretch;
  }
}