@import '../config';

article.post {
  border-top: .1rem solid $general-border-color;
}

.post-title, .post-body { margin-bottom: $space-factor; }

.post-title {
  img { margin-right: $space-factor / 4; }
}

.post-body {
}

.info {
  $info-color: #666;
  font-size: 80%;
  color: $info-color;

  a { color: $info-color; }
}