@import '../config';
@import '../mixins';

.profile-banner {
  background-color: $profile-bg-color;
  margin-top: -$space-factor;
  margin-bottom: $space-factor;

  height: height + 2 * $space-factor;

  img {
    height: 196px;
    width: 196px;
    border: .2rem solid #fff;

    z-index: 200;
  }

  @include media-le-tablet {
    height: 172px;
  }
}