@import '../config';

@mixin card-common {
  margin-bottom: $space-factor;

  & > *:not([class^="block"]) {
    padding: $space-factor;
  }

  & > [class^="block"] > * {
    padding: $space-factor;
    margin-bottom: 0;
  }

  & > * {
    margin-bottom: 0;
  }
}