@import '../config';
@import 'card';

.event-card {
  @include card-common;

  > * {
    border-bottom: .1rem solid $general-border-color;
  }
  > *:last-child {
    border-bottom: none;
  }
}

.event-card-today {

  &:last-child {
    margin-bottom: 0;
  }
}