input[type="text"], input[type="password"], input[type="email"], input[type="search"], textarea {
  display: block;
  width: 100%;
  padding: ($space-factor / 4) ($space-factor / 2);
  outline: none;
  box-sizing: border-box;
}

button, .button {
  display: inline-block;
  padding: $space-factor / 2 $space-factor;
  text-decoration: none;
  border: none;
  cursor: pointer;
  outline: none;

  color: $button-color-label;
  background-color: $button-color;

  &:hover {
    background-color: lighten($button-color, 5%);
  }
  &:visited {
    text-decoration: none;
  }
}

// BUTTON STYLES
// Boring button style, a kind of dull grey, for not so appealing options
.boring {
  background-color: $button-color-boring;
  &:hover { background-color: lighten($button-color-boring, 10); }
}
// Dangerous buttons, you may want to be careful with these
.danger {
  background-color: $button-color-danger;
  &:hover { background-color: lighten($button-color-danger, 10); }
}

// Create a button group with all buttons centered with flexbox positioning
.center-button-group {
  display: flex;
  justify-content: center;

  > * { margin: 0 .25rem; }
}

.block-button {
  @extend .button;
  display: block;
  width: 100%;
}