.inline-component, .inline-form {
  display: flex;

  img {
    align-self: flex-start;
    margin-right: .25 * $space-factor;
  }

  .block-component {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  div.group {
    display: flex;
    flex-wrap: wrap;

    &:last-of-type {
      margin: 0;
      > * { margin-bottom: 0; }
    }

    > * { margin-bottom: $space-factor / 4; }
  }

  textarea, input[type="text"] {
    width: auto;
    resize: none;
    flex-grow: 1;
  }

  button {
    font-size: 75%;
    padding: $space-factor / 2;
    flex: none;
  }
}

.inline-form {
  margin-bottom: 0;
}