.profile {

}
.profile-banner {
  margin-top: -$space-factor;
  background-color: #ebebeb;
}

.profile-sidebar {
  background-color: #fff;
  margin-top: -$space-factor;
  border-bottom: .25rem solid $general-border-color;
}

.profile-info-card {

}

.profile-card-header {
  margin-top: 0;
  font-size: 150%;

  a { color: inherit; }
}

.profile-card-info {
  > * { margin: 0 $space-factor / 4; }
  > *:first-child { margin-left: 0; }
  > *:last-child {margin-right: 0; }
}
.profile-card-location {
  a { color: inherit; }
}

.profile-card-birthday {

}