// SLIDING LABELS FOR FORM INPUTS
// Works with inputs of type "text", "password" and textareas. Inputs of type "email" are mot supported due to them not being valid with any text in them and not rendering properly in that case.

form.slide-inputs {
  $input-height: 4rem;
  $label-size: 1.5rem;

  // element border colors
  $input-color-default: #ebebeb !default;
  $input-color-active: #197DE0 !default;
  // label text colors
  $label-default-color: #666;
  $label-color-active: #fff;

  $animation-duration: .3s !default;

  div {
    position: relative;
    // make up for removed margin bottom from input
    margin-bottom: $space-factor;
    height: $input-height;

    background-color: #fff;

    > input[type="text"], > input[type="password"], > textarea {
      // remove bottom margin, parent container will replace this value
      margin-bottom: 0;

      height: 100%;

      border: .15rem solid $input-color-default;

      transition: all $animation-duration;
    }

    > label {
      position: absolute;
      display: block;
      width: 100%;
      color: $label-default-color;
      
      // vertically center on form
      line-height: $input-height;
      top: 0;
      left: 0;
      padding-left: $input-height / 3;

      // make text not selectable
      user-select: none;

      transition: all $animation-duration;
    }

    input:focus, textarea:focus {
      border-color: $input-color-active;
      border-bottom: $label-size solid $input-color-active;
    }

    input:valid + label, textarea:valid + label {
      // hide label when input is valid
      z-index: -1;
    }

    input:focus + label, textarea:focus + label {
      height: $label-size;
      line-height: $label-size;
      top: $input-height - $label-size;
      font-size: .75rem;
      color: $label-color-active;

      // override for valid and active
      z-index: 1;
    }
  }
}