@import '../config';
@import '../mixins';

.wrapper-sidebar-right {
  h4, h5, h6 {
    margin-top: 0;
    margin-bottom: $space-factor / 2;
  }
}

.wrapper-sidebar-right {
  flex-grow: 1;
  display: none;
  order: 1;
}

@include media-le-desktop {
  .wrapper-sidebar-right {
    flex-basis: 40%;
    display: block;
    order: 3;
  }
}
@include media-large {
  .wrapper-sidebar-right {
    flex-basis: 30%;
  }
}