@import '../mixins';

.wall-component {
  display: flex;
  // stack all components by default
  flex-direction: column;

  // if screen is big enough, place children in row instead of columns
  @include media-le-desktop { flex-direction: row; }
}

.home-middle-column {
  display: flex;
  flex-direction: column;
}
