@import '../bower_components/normalize-css/normalize';
@import 'config';
@import 'partials/mixins';

* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  min-height: 100%;
  height: 100%;
  
  font-size: $font-size;
  line-height: $space-multiplier;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;

  $col1: #fbfbfb;
  $col2: #f6f6f6;
  background: repeating-linear-gradient(-45deg, $col1, $col1 25px, $col2 25px, $col2 50px) fixed;
}

h1, h2, h3, p, ol, ul, input, section, header, article {
  margin-bottom: $space-factor;
}

#react-root {
  min-height: 100vh;
  width: 100vw;
}

.general-overlay {
  //pointer-events: none;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $overlay-color;
  z-index: 800;
  opacity: 0;

  transition: opacity .25s;
}

.wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}

// conetent container, handle any transitions and things
.wrapper-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  // override for 100vw, must be in place, otherwise desktop version overflows in x
  max-width: 100%;
}

section { padding: $space-factor; }

main {
  display: flex;
  flex-direction: column;

  @include media-le-desktop {
    flex-direction: row;
  }
}

// news feed wrapper, part of main
.wrapper-feed {
  flex-grow: 8;
  display: flex;
  order: 2;
  flex-direction: column;
}

.container {
  $border: .25rem solid $general-border-color;
  background-color: #fff;
  border-top: $border;
  border-bottom: $border;

  @include media-le-tablet {
    border: $border;
    margin-left: $space-factor;
    margin-right: $space-factor;
  }
}

@include media-le-tablet {
  main {
    width: 700px;
    margin: 0 auto;
  }
}
@include media-le-desktop {
  main {
    width: 100%;
  }
}
@include media-large {
  main {
    width: 1500px;
  }
}

.block {
  display: block;
  width: 100%;
}

#trending { display: none; }

@import 'partials/typography';
@import 'partials/header';
@import 'partials/menu';
@import 'partials/modal';
@import 'partials/sidebars';
@import 'partials/posts';
@import 'partials/profile';
@import 'partials/forms';
@import 'partials/inline-component';
@import 'partials/slide-inputs';
