@import '../config';
@import '../mixins';

.header-menu {
  font-size: $font-size;
  position: absolute;
  background-color: #fff;

  left: 0;
  top: 4.5 * $font-size + .1rem;
  width: 100%;

  overflow: hidden;

  // to transition the height to auto, we need to use the max-height property
  max-height: 0;
  padding: 0 $space-factor;
  // to make the transition smooth, we change the transition styles and duration
  transition: all .25s ease-out;
  border-bottom: 0 solid $general-border-color;

  @include media-le-tablet {
    width: 50vw;
    left: 3 * 88px;
  }

  &.active {
    padding: $space-factor;
    max-height: 50vh;
    transition: all 0.35s ease-in;

    border-bottom: .1rem solid $general-border-color;
    box-shadow: 0 2rem 3rem $general-border-color;

    @include media-le-tablet {
      border: .1rem solid $general-border-color;
      border-top: 0;
      box-shadow: none;
    }
  }
}