@import '../config';
@import '../mixins';

header.banner {
  background-color: $banner-bg-color;
  display: flex;
  border-bottom: .1rem solid $general-border-color;

  > * {
    font-weight: bold;
    margin-bottom: 0;
    color: #000;
    background-color: transparent;
    align-self: stretch;
    padding: $space-factor * 1.5 $space-factor * 2;

    &:hover {
      background-color: darken($banner-bg-color, 1%);
    }
  }

  h1 { margin: 0; }

  a {
    color: #000;

    &:hover { text-decoration: none; }
  }
}