@import '../config';
@import '../mixins';

header.banner {
  background-color: $banner-bg-color;
  display: flex;
  border-bottom: .1rem solid $general-border-color;

  > * { padding: $space-factor / 2; }

  #logo {
    color: #000;
    margin: 0 0 0 auto;
    display: none;

    &:hover { text-decoration: none; }
  }

  h1 { margin: 0; }

  button {
    font-weight: bold;
    margin-bottom: 0;
    padding: $space-factor $space-factor * 2;
    color: #000;
    background-color: transparent;

    // make button stretch entire height of bar
    align-self: stretch;
  }

  @include media-le-tablet {
    #logo {
      display: inline-block;
    }
  }
}