// CONFIGURATION FILE FOR STYLESHEET
// All global variables should be defined here.

// GLOBAL
// Global font size
$font-size: 1rem;
// Global space multiplier
$space-multiplier: 1.5;
// Global space factor, for vertical spacing. E.g. bottom margins, paddings, etc.
// Should be the same value as the space multiplier.
$space-factor: 1rem;



// STRUCTURE COLORS
// Banner color
$banner-bg-color: #fff;
// Footer color
$footer-bg-color: rgba(128, 128, 128, .15);
// Profile banner bg color
$profile-bg-color: #197DE0;
// General border color
$general-border-color: #ebebeb;
// Menu color
$menu-bg-color: #3A3C3D;
// Overlay color for modals and other things
$overlay-color: rgba(0, 0, 0, .75);;

// TEXT COLORS
// Link colors
$link-color: #239CD9;

// FORMS
// Input color, for borders, etc.
$input-color-default: #ebebeb;
$input-color-active: #197DE0;
// Button colors
$button-color: #197DE0;
$button-color-boring: #aaa;
$button-color-danger: #D41919;
$button-color-label: #fff;

// MEDIA QUERIES
$media-small-limit: 700px;
$media-medium-limit: 1000px;
$media-large-limit: 1400px;
