$tablet-width: 768px;
$desktop-width: 1024px;
$large-width: 1600px;

@mixin media-tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin media-le-tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin media-desktop {
  @media (min-width: #{$desktop-width}) and (max-width: #{$large-width - 1px}) {
    @content;
  }
}

@mixin media-le-desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin media-large {
  @media (min-width: #{$large-width}) {
    @content;
  }
}

@mixin media-retina {
  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    @content;
  }
}

@mixin media-print {
  @media print {
    @content;
  }
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}