@import '../config';

.general-overlay {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $overlay-color;
  z-index: 800;
  opacity: 0;

  transition: opacity .25s;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}